@media screen and (max-width:700px){
     .container { 
        display: flex;
        flex-direction: column;
        }

        .botao{
        margin-top: 7px;
        width: 230px;
        height: 70px;
        }
}

@media screen and (min-width:1000px) {
    .derscricao {
        width:50%;
    }
}